.popup {
  z-index: 300;
  background-color: rgba($color-black, .8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;


  &__content {
    width: 75%;
    height: 50rem;
    background-color: $color-white;
    // z-index: 350;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: flex;
  }

  &__left {
    flex: 0 0 33.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__upper-image {
    flex: 0 1 50%;
    background-image: url(../img/nat-8.jpg);
    background-size: cover;
  }

  &__lower-image {
    flex: 0 1 50%;
    background-image: url(../img/nat-9.jpg);
    background-size: cover;
  }

  &__right {
    flex: 0 0 auto;
    height: 100%;
  }

  &__img {
    display: block;
    height: 50%;
    object-fit: fill;
  }

  &__text {

  }
}