*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respondMax($tab-land) {
    font-size: 56.25%; //1 rem = 9px
  }

  @include respondMax($tab-port) {
    font-size: 50%; //1 rem = 8px 
  }

  @include respondMin($big-desktop) {
    font-size: 75%; //1 rem = 12px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respondMax($tab-port) {
    padding: 0;
  }
}